<mat-sidenav-container class="container">
  <!-- MENU LATERAL -->
  <mat-sidenav
  #sidenav
  class="sidenav"
  [mode]="isHandset ? 'over' : 'side'"
  [(opened)]="opened"
  [fixedInViewport]="true"
  [fixedTopGap]="topbarHeight">

  <mat-toolbar class="header">
    <a routerLink="/home" class="brand" (click)="closeIfMobile(sidenav)">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT9FlJEXx6z5PQz9VI0P-gj3P8snapFqOf_ZG3k0PbVLpvUvWhx" alt="Logo"/>
      <div class="titulo">
        <span class="center">API CENTER</span>
        <span class="api">Gerenciador de APIs</span>
      </div>
    </a>
  </mat-toolbar>
  
  <mat-nav-list class="nav-list1">
    <a routerLink="/">
      <div mat-subheader>PRINCIPAL</div>
    </a>

    <a mat-list-item routerLink="/dashboard" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>

    <a mat-list-item routerLink="/backends" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>view_list</mat-icon>
      <span matListItemTitle>Backends</span>
    </a>

    <a mat-list-item routerLink="/apis" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>language</mat-icon>
      <span matListItemTitle>APIs</span>
    </a>

    <a mat-list-item routerLink="/gateways" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>analytics</mat-icon>
      <span matListItemTitle>Gateways</span>
    </a>

    <a mat-list-item routerLink="/testes" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>science</mat-icon>
      <span matListItemTitle>Testes</span>
    </a>

    <a mat-list-item routerLink="/tags" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>sell</mat-icon>
      <span matListItemTitle>Tags</span>
    </a>

    <a mat-list-item routerLink="/documentação" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>menu_book</mat-icon>
      <span matListItemTitle>Documentação</span>
    </a>
  </mat-nav-list>

  <mat-nav-list class="nav-list2">
    <div mat-subheader>GERENCIAMENTO</div>

    <a mat-list-item routerLink="/configurações" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>settings</mat-icon>
      <span matListItemTitle>Configurações</span>
    </a>

    <a mat-list-item routerLink="/logout" (click)="closeIfMobile(sidenav)">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Sair</span>
    </a>
  </mat-nav-list>
</mat-sidenav>


  <!-- CONTEÚDO + TOPBAR (ÍCONES AQUI) -->
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="topbar">
      <button mat-icon-button (click)="toggle(sidenav)" aria-label="Abrir menu">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="ml-8">API CENTER</span>
      <span class="spacer"></span>

      <!-- Notificações -->
      <button mat-icon-button matTooltip="Notificações"
              aria-label="Notificações">
        <mat-icon [matBadge]="3">notifications</mat-icon>
      </button>

      <!-- Usuário -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Conta" aria-label="Conta do usuário">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Menu do usuário -->
<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/usuario">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </button>
  <button mat-menu-item routerLink="/configurações">
    <mat-icon>settings</mat-icon>
    <span>Configurações</span>
  </button>
  <button mat-menu-item routerLink="/logout">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>